<!-- templates/index.html -->
<html>
  <head>
    <title>Flask demo</title>
  </head>
  <body>
    <form method="POST">
        Pokemon'i nimi: <input type="text" name="pokemonName"><br>
        <p><b>NB:</b> Kõik tähed peavad olema väikesed</p>
        <input type="submit" value="Otsi"><br>
    </form>
    <hr>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
      </tr>
      <tr>
        <td>{{ ID }}</td>
        <td>{{ name }}</td>
        <td><img src={{ image }}></td>
      </tr>
    </table>
  </body>
</html>